---
import Layout from "../../layouts/Layout.astro"

import AboutMe from "../../components/AboutMe.astro"
import Briefcase from "../../components/icons/Briefcase.astro"
import CodeIcon from "../../components/icons/Code.astro"
import Experience from "../../components/Experience.astro"
import ProfileCheck from "../../components/icons/ProfileCheck.astro"
import Projects from "../../components/Projects.astro"
import SectionContainer from "../../components/SectionContainer.astro"
import Hero from "../../components/Hero.astro"
import TitleSection from "../../components/TitleSection.astro"

import { getI18N } from "../../i18n"
import { getProjects } from "../../data/projects"
import { getExperience } from "../../data/experience"

const currentLocale = "en"
const i18n = getI18N({ currentLocale })
const projects = getProjects({ currentLocale })
const experience = getExperience({ currentLocale })
---

<Layout
  title={i18n.SEO.TITLE}
  description={i18n.SEO.DESCRIPTION}
  i18n={i18n}
  currentLocale={currentLocale}
>
  <main class="px-4 py-8 md:py-16 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-24 items-start">
      
      <!-- Hero Section -->
      <SectionContainer class="py-0 md:py-0 w-full h-full flex flex-col justify-center md:max-w-none">
        <Hero i18n={i18n} />
      </SectionContainer>

      <!-- Experience Section -->
      <SectionContainer id="experiencia" class="py-0 md:py-0 w-full md:max-w-none">
        <TitleSection>
          <Briefcase class="size-8" />
          {i18n.EXPERIENCE.TITLE}
        </TitleSection>
        <Experience experience={experience} />
      </SectionContainer>

      <!-- Projects Section -->
      <SectionContainer id="proyectos" class="py-0 md:py-0 w-full md:max-w-none">
        <TitleSection>
          <CodeIcon class="size-7" />
          {i18n.PROJECTS.TITLE}
        </TitleSection>
        <Projects projects={projects} i18n={i18n} />
      </SectionContainer>

      <!-- About Me Section -->
      <SectionContainer id="sobre-mi" class="py-0 md:py-0 w-full md:max-w-none">
        <TitleSection>
          <ProfileCheck class="size-8" />
          {i18n.ABOUT.TITLE}
        </TitleSection>
        <AboutMe i18n={i18n} />
      </SectionContainer>

    </div>
  </main>
</Layout>
