---
import LinkInline from "./LinkInline.astro"

interface Props {
  title: string
  company: string
  description: string
  link?: string
  date: string
}

const { title, company, description, link, date } = Astro.props
---

<div class="relative flex flex-col p-6 gap-4 bg-white/5 dark:bg-white/5 rounded-xl border border-black/10 dark:border-white/10 shadow-sm transition-all hover:shadow-md hover:bg-white/10 dark:hover:bg-white/10 h-full">
  <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between gap-2">
    <div>
       <h3 class="text-xl font-bold text-yellow-500 dark:text-yellow-400">{title}</h3>
       <h4 class="font-semibold text-lg text-gray-800 dark:text-gray-200">{company}</h4>
    </div>
    <time class="text-sm font-mono text-gray-600 dark:text-gray-400 shrink-0 bg-gray-100 dark:bg-gray-800 px-3 py-1 rounded-full">{date}</time>
  </div>
  
  <div class="text-gray-600 dark:text-gray-300 text-pretty flex-grow">
    {description}
  </div>

  {link && (
    <div class="mt-2">
      <LinkInline href={link}>
        Saber más{" "}
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right inline-block"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
      </LinkInline>
    </div>
  )}
</div>
